.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    background-color: #f3e9dc;

    @media (max-width: 768px) {
        .text-content {
            height: 80px; // Adjusted height for smaller screens
            margin-bottom: 20px; // Your existing adjustment
            // Other styles as needed
        }
    }
}
