.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    background-color: #f3e9dc;
    overflow: hidden;
}
