.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    border-bottom: 0.2px solid #999;
    background-color: #907f71;
    height: 50px;

    .container,
    .navbar-collapse,
    .navbar-nav {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            flex-direction: row; // Stack navbar items vertically on smaller screens
            height: auto; // Allow height to adjust dynamically
        }
    }

    .nav-link {
        color: #212529;
        padding: 0.5rem 1rem;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;

        &.active,
        &:hover,
        &:focus {
            color: #7d301a; // Maintain the color on hover and focus
            text-decoration: none; // No underline on hover and focus
            cursor: pointer;
        }

        @media (max-width: 768px) {
            font-size: 0.9rem; // Slightly smaller font size for mobile
        }

        @media (max-width: 480px) {
            font-size: 0.8rem; // Further reduce font size for very small devices
        }
    }
}
