.custom-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    border-bottom: 0.2px solid #999; // Purple bottom border
    background-color: #fff;
    height: 5vh;

    .container,
    .navbar-collapse,
    .navbar-nav {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-link {
        color: #212529;
        padding: 0.5rem 1rem;
        text-decoration: none;
        text-transform: uppercase;

        &.active,
        &:hover,
        &:focus {
            color: #8b37f5; // Maintain the color on hover and focus
            text-decoration: none; // No underline on hover and focus
        }
    }
}
