/* Base styles for the portfolio page */
.portfolio-page {
    box-sizing: border-box;
    margin: 0;
    padding-top: 90px;
    section {
        padding-top: 0;
        margin-top: 0;
        height: 100vh;
        text-align: center;
        max-width: 900px;
        width: 100%;
    }
}
