img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); // Larger offset, less blur, more opacity
}

#HeroImage:hover {
    transform: scale(1.1); // Maintains the scaling effect
}
