.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative; /* Remains as positioning context */
    min-height: 420px; /* Use min-height instead of a fixed height */
    width: 80%; /* More flexible width */
    max-width: 600px; /* Limits the width on larger screens */
    margin: auto; /* Centers the container in the parent */
}

.text-content {
    position: absolute;
    bottom: 0; /* Closer to the bottom of the container */
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.profile-container img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.profile-container img:hover {
    transform: scale(1.1); /* Maintains the scaling effect */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .profile-container img {
        width: 70%; /* Adjust based on parent container size */
        height: auto; /* Maintain aspect ratio */
        max-width: 350px; /* Ensures it doesn't exceed the original size */
        max-height: 350px;
    }

    .text-content {
        margin-bottom: 20px; /* Adjust the bottom margin for smaller screens if necessary */
    }
}
