.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    overflow: hidden; /* Ensure that the scaled-up dot does not cause scrolling */
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
